@model RecipeListViewModel
@using Organizer_przepisów_kulinarnych.DAL.Entities.Enums

<div class="row">
    <div class="col-md-3">
        <li>
            <a href="@Url.Action("Index", "Recipe")" style="font-weight: bold; font-size: 18px;">
                Wszystkie przepisy
            </a>
        </li>
        @await Html.PartialAsync("_FilterFormPartial", Model)
    </div>
    <div class="col-md-9">
        <div class="row">
            @if (Model.Recipes.Any())
            {
                @foreach (var recipe in Model.Recipes)
                {
                    @await Html.PartialAsync("_RecipeCard", recipe)
                }
            }
            else
            {
                <div class="col-12">
                    <p>Brak dostępnych przepisów.</p>
                </div>
            }
        </div>
    </div>
</div>