@model RecipeListViewModel
@using Organizer_przepisów_kulinarnych.DAL.Entities.Enums

<div class="container mt-5">
    <a href="@Url.Action("Index", "Recipe")" class="fw-bold text-primary mb-3 d-inline-block">← Wszystkie przepisy</a>

    <div class="main-wrapper">
        <!-- Filtry -->
        <div class="filter-sidebar shadow-sm">
            <li>
                <a href="@Url.Action("Index", "Recipe")" style="font-weight: bold; font-size: 18px;">
                    Wszystkie przepisy
                </a>
            </li>
            @await Html.PartialAsync("_FilterFormPartial", Model)
        </div>

        <!-- Przepisy -->
        <div class="recipe-grid">
            @if (Model.Recipes.Any())
            {
                foreach (var recipe in Model.Recipes)
                {
                    <div class="recipe-card">
                        @await Html.PartialAsync("_RecipeCard", recipe)
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="text-muted">Brak dostępnych przepisów.</p>
                </div>
            }
        </div> 
    </div> 
</div> 

@section Styles {
    <link rel="stylesheet" href="~/css/recipe.css" asp-append-version="true" />
}

