@model RecipeListViewModel

<div class="container mt-5">
    <h2 class="mb-3">Wszystkie Przepisy</h2>

    <div class="main-wrapper">
        <div class="filter-sidebar shadow-sm">
            @await Html.PartialAsync("_FilterFormPartial", Model)
        </div>

        <div class="recipe-grid">
            @if (Model.Recipes.Any())
            {
                foreach (var recipe in Model.Recipes)
                {
                    <div class="recipe-card">
                        @await Html.PartialAsync("_RecipeCard", recipe)
                    </div>
                }
            }
            else
            {
                <div>
                    <p class="text-muted">Brak dostępnych przepisów.</p>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/recipe.css" asp-append-version="true" />
}
