@model RecipeListViewModel
@using Organizer_przepisów_kulinarnych.DAL.Entities.Enums
<h2>Wszystkie Przepisy</h2>
<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_FilterFormPartial", Model)
        <h5 class="mb-3">Kategorie</h5>
        <ul>
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a href="@Url.Action("Category", "Recipe", new { name = category})" style="font-weight: bold; font-size: 18px;">
                        @category
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            @if (Model.Recipes.Any())
            {
                @foreach (var recipe in Model.Recipes)
                {
                    @await Html.PartialAsync("_RecipeCard", recipe)
                }
            }
            else
            {
                <div class="col-12">
                    <p>Brak dostępnych przepisów.</p>
                </div>
            }
        </div>
    </div>
</div>