@model RecipeListViewModel
@using Organizer_przepisów_kulinarnych.DAL.Entities.Enums

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Moje Przepisy</h2>
        <a asp-controller="Recipe" asp-action="Create" class="btn btn-add">
            <i class="bi bi-plus-circle"></i> Dodaj Przepis
        </a>
    </div>

    <div class="main-wrapper">
        <div class="filter-sidebar shadow-sm">
            @await Html.PartialAsync("_FilterFormPartial", Model)
        </div>

        <div class="recipe-grid">
            @if (Model.Recipes.Any())
            {
                foreach (var recipe in Model.Recipes)
                {
                    <div class="recipe-card">
                        @await Html.PartialAsync("_RecipeCard", recipe)
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="no-recipes">Brak dostępnych przepisów.</p>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/recipe.css" asp-append-version="true" />
}
