@model RecipeViewModel

<div class="col-md-4">
    <div class="card mb-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" class="card-img-top" alt="Recipe Image" />
        <div class="card-body">
            <h5 class="card-title">@Model.RecipeName</h5>
            <p class="card-text">Czas przygotowania: @Model.Preptime min</p>
            <a href="@Url.Action("Details", "Recipe", new { id = Model.RecipeId })" class="btn btn-primary">Zobacz przepis</a>

            @await Html.PartialAsync("_FavoriteToggle", Model)

            @if (Model.IsUserRecipe)
            {
                <form asp-action="Delete" asp-route-id="@Model.RecipeId" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć ten przepis?');" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm mt-2">Usuń</button>
                </form>
            }
        </div>
    </div>
</div>
