<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#">Przepisy</a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="Recipe" asp-action="Index">Wszystkie przepisy</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Recipe" asp-action="Category" asp-route-name="@category.Name">
                    @category.Name
                </a>
            </li>
        }
    </ul>
</li>
